# Ignore node_modules directory as we will install dependencies inside Docker
node_modules

# Ignore Yarn lock files
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore build scripts and configuration files
docker
.dockerignore
.github
.git
.npmrc
.eslint.config.mjs
.eslintignore
.prettierrc
.prettierignore
commitlint.config.js

# Ignore local environment files
.env
.env.local
.env.qa

# Ignore local editor/project files
.vscode
.husky
*.sublime-project
*.sublime-workspace

# Ignore other project files that are not needed in the Docker image
README.md
sonar-project.properties
