NODE_ENV=development
PORT=8000
MONGODB_URI=mongodb://127.0.0.1:27017/test
PACKAGE_NAME=hono-boilerplate

CLIENT_URL=http://localhost:3000
API_URL=http://localhost:8000

BETTER_AUTH_SECRET=e5a7d37c7a0ee4519

RESEND_API_KEY=
RESEND_FROM_EMAIL=

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=object-storage

S3_DEFAULT_FOLDER=uploads
S3_PROFILE_IMAGES_FOLDER=profile-images
S3_EVENT_IMAGES_FOLDER=events
S3_DOCUMENTS_FOLDER=docs
